allow untrusted_app persist_file:dir getattr;
allow untrusted_app device:dir { open read };
allow untrusted_app block_device:dir { open read };
allow untrusted_app init:dir { getattr search };
allow untrusted_app init:file { read open getattr };
allow untrusted_app kernel:dir { getattr search };
allow untrusted_app kernel:file { read open getattr };
allow untrusted_app ueventd:dir { getattr search };
allow untrusted_app ueventd:file { read open getattr };
allow untrusted_app logd:dir { getattr search };
allow untrusted_app logd:file { read open getattr };
allow untrusted_app vold:dir { getattr search };
allow untrusted_app vold:file { read open getattr };
allow untrusted_app healthd:dir { getattr search };
allow untrusted_app healthd:file { read open getattr };
allow untrusted_app lmkd:dir { getattr search };
allow untrusted_app lmkd:file { read open getattr };
allow untrusted_app servicemanager:dir { getattr search };
allow untrusted_app servicemanager:file { read open getattr };
allow untrusted_app surfaceflinger:dir { getattr search };
allow untrusted_app surfaceflinger:file { read open };
allow untrusted_app mpdecision:dir { getattr search };
allow untrusted_app mpdecision:file { read open };
allow untrusted_app netd:dir { getattr search };
allow untrusted_app netd:file { read open };
allow untrusted_app rild:dir { getattr search };
allow untrusted_app rild:file { read open };
allow untrusted_app rmt_storage:dir { getattr search };
allow untrusted_app rmt_storage:file { read open };
allow untrusted_app shell:dir { getattr search };
allow untrusted_app shell:file { read open };
allow untrusted_app tee:dir { getattr search };
allow untrusted_app tee:file { read open };
allow untrusted_app anr_data_file:dir read;
allow untrusted_app debuggerd:dir { getattr search };
allow untrusted_app debuggerd:file { read open };
allow untrusted_app drmserver:dir { getattr search };
allow untrusted_app drmserver:file { read open };
allow untrusted_app adsprpcd:dir { getattr search };
allow untrusted_app adsprpcd:file { read open };
allow untrusted_app gatekeeperd:dir { getattr search };
allow untrusted_app gatekeeperd:file { read open };
allow untrusted_app installd:dir { getattr search };
allow untrusted_app installd:file { read open };
allow untrusted_app keystore:dir { getattr search };
allow untrusted_app keystore:file { read open };
allow untrusted_app mediaserver:dir { getattr search };
allow untrusted_app mediaserver:file { read open };
allow untrusted_app netmgrd:dir { getattr search };
allow untrusted_app netmgrd:file { read open };
allow untrusted_app perfprofd:dir { getattr search };
allow untrusted_app perfprofd:file { open read };
allow untrusted_app qmuxd:dir { getattr search };
allow untrusted_app qmuxd:file { read open };
allow untrusted_app self:udp_socket ioctl;
allow untrusted_app zygote:dir { getattr search };
allow untrusted_app zygote:file { read open };
allow untrusted_app adbd:dir { getattr search };
allow untrusted_app adbd:file { read open };
allow untrusted_app location:dir { getattr search };
allow untrusted_app location:file { read open };
allow untrusted_app mm-qcamerad:dir { getattr search };
allow untrusted_app mm-qcamerad:file { read open };
allow untrusted_app platform_app:dir { getattr search };
allow untrusted_app platform_app:file { read open };
allow untrusted_app sdcardd:dir { getattr search };
allow untrusted_app sdcardd:file { read open };
allow untrusted_app sensors:dir { getattr search };
allow untrusted_app sensors:file { read open };
allow untrusted_app system_server:dir { getattr search };
allow untrusted_app system_server:file { read open };
allow untrusted_app time_daemon:dir { getattr search };
allow untrusted_app time_daemon:file { read open };
allow untrusted_app wcnss_service:dir { getattr search };
allow untrusted_app wcnss_service:file { read open };
allow untrusted_app radio:dir { getattr search };
allow untrusted_app radio:file { read open };
allow untrusted_app system_app:dir { getattr search };
allow untrusted_app system_app:file { read open };
allow untrusted_app wpa:file { read open };
allow untrusted_app wpa:dir { getattr search };
allow untrusted_app app_data_file:dir { remove_name search add_name  search getattr };
allow untrusted_app app_data_file:file { create open read write getattr setattr };
